// Put any @imports here
// See Readme for a list of supported ones

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import './navbar.scss';

body {
}

.content {
  margin: 60px auto;
  padding: 30px;
}

blockquote {
  border-color: darkgrey;
}