// Put any @imports here
// See Readme for a list of supported ones

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import './navbar.scss';
@import './apps.scss';

body {
}

.content {
  margin: 60px auto;
  padding: 20px;
}

blockquote {
  border-color: darkgrey;
}

.content {
  display: inline-block;
  width: 70%;
  margin: 5px;
}

h2.page-title {
  padding-bottom: 10px;
  border-bottom: 4px solid #256DAA;
  border-radius: 2px;
}