.nav-section {
  display: inline-block;
  height: 900px;
  width: 25%;
  vertical-align: top;
  padding: 20px;
  background-color: #256DAA;
  color: white;

  img.profile-pic {
    display: block;
    width: 80%;
    border-radius: 10px;
    margin: 0px auto;
    margin-bottom: 15px;
    border: 1px solid white;
  }

  .nav-pills {
    color: white;

    a {
      color: white;
      font-size: 1.3em;

      &:hover {
        color: #256DAA;
      }
    }

  }
}